<div data-include="views/header.html"></div>


<div class="container-fluid">
  <h1 class="left">Frequently Asked Questions</h1>
  <p class="left"></p>

  <hr>

  <h3 class="left"> Index</h3>
  <ol>
    <li class="left"><a href="#1">What is Cloud Sync?</a></li>
    <li class="left"><a href="#2">What do I have to do to use Cloud Sync?</a></li>
    <li class="left"><a href="#3">Do I have to download any application or programs? Is this available on my desktop computer, laptop, tablet or mobile phone?</a></li>
    <li class="left"><a href="#4">Why Dropbox?</a></li>
    <li class="left"><a href="#5">Where will my files be uploaded to?</a></li>
    <li class="left"><a href="#6">I want to use Cloud Sync in a different way. How do I request for features?</a></li>
    <li class="left"><a href="#7">Who are the developers behind Cloud Sync?</a></li>
  </ol>

  <a id="1"></a>
  <h4 class="left">1 What is Cloud Sync?</h4>
  <p class="left">Cloud Sync is a web service built for IVLE users. Our servers crawl ivle for new, updated files and delivers them directly to your dropbox account in real time.</p>

  <a id="2"></a>
  <h4 class="left">2 What do I have to do to use Cloud Sync?</h4>
  <p class="left">All you need to do is sign in once to connect your account to Cloud Sync. The quickstart guide will show you how.</p>

  <a id="3"></a>
  <h4 class="left">3 Do I have to download any application or programs? Is this available on my desktop computer, laptop, tablet or mobile phone?</h4>
  <p class="left">You only need to download the Dropbox application on your devices to access all your files.</p>

  <a id="4"></a>
  <h4 class="left">4 Why Dropbox?</h4>
  <p class="left">It’s free, easy to use and everyone in NUS has it (see <a href="https://www.dropbox.com/spacerace" rel="external" target="_blank">winners of Dropbox Space Race</a>).</p>
  <p class="left">Don’t have an account? <a href="https://db.tt/pxFuxBlF" rel="external" target="_blank">Click here</a> to sign up.</p>

  <a id="5"></a>
  <h4 class="left">5 Where will my files be uploaded to?</h4>
  <p class="left">The default folder would be Dropbox &gt; Apps &gt; IVLE Cloud Sync. Follow the next steps guide on how you can customise your folders.</p>

  <a id="6"></a>
  <h4 class="left">6 I want to use Cloud Sync in a different way. How do I request for features?</h4>
  <p class="left">You can send your feedback to ivlecloudsync.at.gmail.com :)</p>

  <a id="7"></a>
  <h4 class="left">7 Who are the developers behind Cloud Sync?</h4>
  <p class="left">Nicholas Luo &amp; Eu Beng Hee (developer of <a href="http://nusmods.com" rel="external" target="_blank">NUSMods.com</a>). If you see us around do say hi! :)</p>

  <p>
    <a href="/login" class="btn btn-primary" role="button">
      Login with IVLE
    </a>
  </p>
</div>
