<% include header %>

<div class="container-fluid">
  <div>
    <div class="text-center">
      <img src="/images/logo.png">
    </div>

    <h1 class="page-header">
      All your files at the right place, all the time.
    </h1>

    <p>
      IVLE Cloud Sync <strong>simplifies workbin management</strong> by pushing new files to your Dropbox and giving you automatic updates as they happen.
    </p>


    <!-- START OF FACEBOOK WIDGET -->
    <div style="text-align:left; height:20px;" class="fb-like fb_iframe_widget" data-href="https://www.facebook.com/ivlecloudsync" data-layout="standard" data-action="like" data-show-faces="false" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=436570933136164&amp;href=https%3A%2F%2Fwww.facebook.com%2Fivlecloudsync&amp;layout=standard&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=false"><span style="vertical-align: bottom; width: 450px; height: 20px;"><iframe name="f3808c58bc" width="1000px" height="1000px" frameborder="0" allowtransparency="true" scrolling="no" title="fb:like Facebook Social Plugin" src="http://www.facebook.com/plugins/like.php?action=like&amp;app_id=436570933136164&amp;channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter%2FDU1Ia251o0y.js%3Fversion%3D41%23cb%3Df103b5872%26domain%3Dcloudsync.ivle.nus.edu.sg%26origin%3Dhttp%253A%252F%252Fcloudsync.ivle.nus.edu.sg%252Ff2aa6dab44%26relation%3Dparent.parent&amp;href=https%3A%2F%2Fwww.facebook.com%2Fivlecloudsync&amp;layout=standard&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=false" style="border: none; visibility: visible; width: 450px; height: 20px;" class=""></iframe></span></div>
    <!-- END OF FACEBOOK WIDGET -->
    <hr>

    <p>
      Jump right into the action.<br>
      <a href="/login" class="btn btn-primary" role="button">
        Login with IVLE
      </a>
    </p>

    <p>
      Unsure about what it takes? read more about Cloud Sync in our FAQ.<br>
      <a href="/faq" class="btn btn-default" role="button">
        FAQ
      </a>
      <a href="/quickstart" class="btn btn-default" role="button">
        Quick Start Guide
      </a>
    </p>
  </div>

</div>

<% include footer %>
