<% include header %>

<div class="container-fluid">
  <h1 class="left"> Quick Start </h1>
  <p class="left">Setup is easy and takes less than a minute to complete</p>
  <hr class="clear">
  <h4 class="left"> 1 Logging in  </h4>
  <p class="left">Cloud Sync requires authorization from your IVLE and Dropbox accounts. We do not store your IVLE or Dropbox passwords, only the application tokens provided to us by IVLE and Dropbox.</p>
  <img src="/images/ivle-login.jpg" alt="login to IVLE">
  <img src="/images/dropbox-login.jpg" alt="login to Dropbox">

  <h4 class="left"> 2 Selecting folders to sync </h4>
  <p class="left">
    By default, Cloud Sync will sync all your folders. We provide the option to exclude certain folders or entire workbins to your liking (but why would anyone do that).
  </p>
  <p class="left">
    Uncheck the folders you do not want synchronised (remember to submit), and Cloud Sync will handle the rest.
  </p>
  <img src="/images/folder-sync.jpg" alt="login to Dropbox">

  <p class="left">
    And you're done!
  </p>
  <p class="left">
  Check out <a href="/nextsteps" class="ui-link">Next Steps: Customising your App Folder</a> to move or rename your IVLE folder on Dropbox.
  </p>
  <p>
    <a href="/login" class="btn btn-primary" role="button">
      Login with IVLE
    </a>
  </p>
</div>

<% include footer %>
